repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  {%- if 'js' in langs -%}
  - repo: local
    hooks:
      - id: biome-lint
        name: biome-lint
        entry: npx biome lint --write --files-ignore-unknown=true --no-errors-on-unmatched
        language: javascript
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
        require_serial: true
  {%- endif %}
  {% if 'python' in langs -%}
  - repo: local
    hooks:
      - id: ruff-check
        name: 'ruff: Check formatter'
        entry: ruff
        language: python
        types_or: [python, pyi, jupyter]
        args: [check, --force-exclude]
        require_serial: true
      - id: ruff-format
        name: 'ruff: Format repo'
        entry: ruff
        language: python
        types_or: [python, pyi, jupyter]
        args: [format, --force-exclude]
        require_serial: true
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        require_serial: true
  {%- endif -%}
